doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/Guidelines.css")
    link(rel="shortcut icon", href="/media/Qastra.jpeg", type="image/x-icon")
    title Qastra: Copyright Policy
  body
    include ./PreLoader.pug
    .background
      img(src="/media/interface-background-3.jpeg", alt="")
      .shade
    .random-pattern-1
      img(src="/media/interface-random-pattern-4.png", alt="")
    .random-pattern-2
      img(src="/media/interface-random-pattern-3.png", alt="")
    .random-pattern-3
      img(src="/media/interface-geometry.png", alt="")
    .random-pattern-4
      img(src="/media/interface-calculator.png", alt="")
    .mains
      h1 Qastra
      h4 One Question Closer to Clarity
      h1 Copyright Policy
    .guide
      .box
        h4 🧾 Ownership
        p All Qastra content, designs, and branding are the property of Qastra unless stated otherwise.

      .box
        h4 🧠 User Content
        p You own what you post. But by posting, you grant us a license to display it.

      .box
        h4 🚨 Copyright Violations
        p Found copyrighted material that doesn’t belong? Contact us to resolve.

      .box
        h4 ✍️ DMCA Process
        p We follow standard DMCA procedures for takedown requests.

      .box
        h4 🧭 Attribution
        p When using others’ work, give proper credit and follow licenses.

    script(src="/js/Guidelines.js")
