link(rel="stylesheet", href="/css/footer.css")
.footer
  .foot-cov-1
    .footer-logo
      img(src="/media/Qastra.jpeg", alt="")
      h2 Qastra
      p One Question Closer to Clarity

    .footer-options
      .foot-opt-sec-1
        h4 Navigate
        a(href="/dashboard") Dashboard
        a(href="/answered-question") Answered Questions
        a(href="/saved-questions") Saved Questions
        a(href="/ask-a-question") Ask a Question
        a(href="/settings") Settings 
        
      .foot-opt-sec-2
        h4 Community
        a(href="/qastra-community") Qastra Community
        a(href="/guidelines") Community Guidelines
        a(href="/upload") Upload
        a(href="/render-img") Blog

      .foot-opt-sec-3
        h4 Company
        a(href="/terms-of-use") Terms of use
        a(href="/copyright") Copyright policy
        a(href="/privacy-policy") Privacy Policy
        a(href="/cookies") Cookies Policy

      .foot-opt-sec-4
        h4 Help
        a(href="/signup") Signup
        a(href="/help-center") Help Center
        a(href="/safety-center") Safety Center
        a(href="/responsible-disclosure-agreement") Responsible Disclosure Agreement

  .foot-cov-2
    h4 Follow us on:
    a(href="https://www.youtube.com/@Qastra-Official") 
      i.fa-brands.fa-youtube
    a(href="https://www.instagram.com/qastraofficial") 
      i.fa-brands.fa-instagram
    a(href="https://x.com/QastraDev") 
      i.fa-brands.fa-x-twitter
    a(href="https://discord.gg/dU7CaJcYU8") 
      i.fa-brands.fa-discord

  .foot-cov-3
    p Qastra -One Question Closer to Clarity

script(src="/js/footer.js")
script(src="https://kit.fontawesome.com/45c7c9c055.js", crossorigin="anonymous")
script(async src="https://www.googletagmanager.com/gtag/js?id=G-2MVB2B4769")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2MVB2B4769');
