link(rel="stylesheet", href="/css/PreLoader.css")
.div.Preloader#preloader
  img(src="/media/Qastra.jpeg", alt="")
  #loader-text
  .loading-bar
    .bar#progress-bar
script(src="/js/PreLoader.js")
