doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/SavedQuestions.css")
    link(rel="shortcut icon", href="/media/Qastra.jpeg", type="image/x-icon")
    title Qastra: Saved Questions
  body
    include ./PreLoader.pug
    .background
      img(src="/media/interface-background-3.jpeg", alt="")
      .shade
    .main
      h1 Qastra
      h4 Saved Questions
    .questions
      each q in questions
        .question
          a(href=`/question/${q.QID}`)
            .topic #{q.Topic}
            p.ques #{q.Question}
          a(href=`/remove/${q.QID}`)
            .unsave Remove from Saved
    script(src="/js/SavedQuestions.js")
    include ./footer.pug
