doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/Settings.css")
    link(rel="shortcut icon", href="/media/Qastra.jpeg", type="image/x-icon")
    title Qastra: Settings
  body
    include ./PreLoader.pug
    .background
      img(src="/media/interface-background-3.jpeg", alt="")
      .shade

    .main
      h1 Settings
      .main-options
        a(href="/profile") Profile
        a(href="/privacy-policy") Privacy Policies
        a(href="/guidelines") Guidelines
        a(href="/account-actions") Account
        a(href="/saved-questions") Saved Questions

    script(src="/js/Settings.js")
    include ./footer.pug
