@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cosmic-indigo: #8F00FF;
    --aura-cyan: #00F5FF;
    --plasma-pink: #FF4DDE;
    --event-horizon: #0B0C16;
    --orbit-glow: #1A1B2E;
    --stellar-white: #F8F9FA;
    --dim-moon: #B2B6C8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Poppins", sans-serif;
    scrollbar-width: none;
    -ms-overflow-style: none;
    transition: all .5s linear;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.background {
    height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -100;
}

.background img {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    z-index: -100;
}

.shade {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #0B0C16, #1A1B2E);
    opacity: .7;
    z-index: -10;
}

.main h1 {
    background: linear-gradient(45deg, var(--cosmic-indigo), var(--aura-cyan));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 5rem;
}

.main h4 {
    color: var(--dim-moon);
    font-size: 2rem;
    font-variant: small-caps;
}

.main {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
}

.questions {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    flex-direction: column;
    position: absolute;
    top: 50vh;
    left: 0;
    height: 50vh;
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

.question {
    max-width: 100%;
    margin-bottom: 10px;
    color: #fff;
    word-wrap: break-word;
    background-color: var(--event-horizon);
    padding: 25px 15px;
    border-radius: 10px;
    text-align: center;
    min-width: 100%;
}

.topic {
    color: var(--stellar-white);
    font-size: 1.2rem;
}

.ques {
    color: var(--dim-moon);
    font-size: .9rem;
    margin-top: 15px;
}

.unsave {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: var(--orbit-glow);
}

a {
    text-decoration: none;
}